<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Middle_name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @person.index %>
</p>

<p>
  <strong>Region:</strong>
  <%= @person.region %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.reduce_address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
