<!DOCTYPE html>
<html>
<head>
  <title>FopApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <%= link_to image_tag("r5.png", border: 0, width: 40), root_path %>
  </header>

  <ul>
    <li><%= "Search" %>
      <ul>
        <li> <%= "Search by surname" %>
          <form method="GET" action="<%= searchByFio_people_path %>">
          <input type="text" name="q" value="<%= params[:q] ? params[:q] : '' %>" />  
        </li>
        <li> <%= "Search by status" %>
          <form method="GET" action="<%= searchByStatus_people_path %>">
          <input type="text" name="q" value="<%= params[:q] ? params[:q] : '' %>" />
        </li>
        <li> <%= "Search by region" %>
        </li>
      </ul>  
    <li><%= "Graph" %></li>
  </ul>

<%= yield %>

</body>

</html>
