<!DOCTYPE html>
<html>
<head>
  <title>FopApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <%= link_to image_tag("r5.png", border: 0, width: 40), root_path %>
  </header>

  <div style="width: 100%">
    <%= "Find by surname" %>
    <form method="GET" action="<%= search_people_path %>">
    <input type="text" name="q" value="<%= params[:q] ? params[:q] : '' %>" />  
  </div>

<%= yield %>

</body>

</html>
